<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="p-3">
                    <form action="/budgets/approved" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Ver presupuestos aprobados
                        </button>
                    </form>
                    <form action="#caja" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Caja
                        </button>
                    </form>
                    <form action="#facturacion" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Configuraciones de facturación
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>