<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="p-3">
                    <form action="/budgets" method="get">
<!--                        para ver solo presupuestos aprobados-->
                        <input type="hidden" name="state" value="2">

                        <button class="btn btn-success btn-block mb-3">
                            Ver presupuestos aprobados
                        </button>
                    </form>

                    <form action="/suppliers" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Proveedores
                        </button>
                    </form>

                    <form action="#productos" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Productos
                        </button>
                    </form>

                    <form action="/purchase-invoices" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Ingresar compras
                        </button>
                    </form>

                    <form action="#facturacion" method="get">
                        <button class="btn btn-success btn-block mb-3">
                            Configuraciones de facturación
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>