<div class="w-25 mx-auto pt-5">
    <button class="btn btn-success btn-block">
        Guardar
    </button>

    <button type="button" class="btn btn-danger btn-block" onclick="location.href='{{ cancelPath }}'">
        Cancelar
    </button>
</div>