<div class="w-25 ml-auto pt-5 form-group">
    <button class="btn btn-success btn-block mt-2 mr-2">
        Guardar
    </button>

    <button type="button" class="btn btn-danger btn-block" onclick="location.href='{{ cancelPath }}'">
        Cancelar
    </button>
</div>