{{#if user}}
    <div class="sidebar flex-shrink-1 bg-dark pt-3" id="Navbar">
        <ul class="nav flex-sm-column font-weight-bold">
            {{#if (checkAccess user.Role.Permissions "1")}}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Administración</a>
                </li>
            {{/if}}
            {{#if (checkAccess user.Role.Permissions "17,18,19,20,21")}}
                <li class="nav-item">
                    <a class="nav-link" href="/work-orders">Ordenes de trabajo</a>
                </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" onclick="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        function logout() {
            if (confirm('¿Esta seguro de que desea cerrar sesión?'))
                location.href = '/logout';
            return false;
        }
    </script>
{{/if}}