{{#if user}}
    <div class="sidebar flex-shrink-1 bg-dark pt-3" id="Navbar">
        <ul class="nav flex-sm-column font-weight-bold">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Administrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
{{/if}}