<div id="modal" class="modal" onclick="this.style.display='none'">
    <span class="w3-button hover-red xlarge display-topright">&times;</span>
    <div class="modal-content animate-zoom">
        <img id="image_modal" src="" style="width100%">
    </div>
</div>
<div id="video_modal" class="modal">
    <span class="w3-button hover-red xlarge display-topright" onclick="cerrarVideo()">&times;</span>
    <div class="modal-content animate-zoom">
        <video id="video_modal_i" src="" style="width100%" controls></video>
    </div>
</div>