<div class="container p-4">
    <div>
        <div class="mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Perfil del usuario {{user.fullName}}</h3>
                    <h4>{{user.username}}</h4>
                    <button type="button" class="btn btn-danger btn-block mt-5" onclick="logout()">
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>